html {
    /* background-color: antiquewhite; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

body {
    margin:auto;
    width: 80%;
    max-width: 1200px;
    background-color: #69B143;
}

div.content {
    border-radius: 30px;
    background-color: white;
    padding: 0 2em;
    margin-bottom: 20px;
    min-height: 100vh;
}

div.content h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 1em;
}

form {
    border-radius: 0.5rem;
    margin: 12px;
    padding-top: 12px;
}

h4#form {
    border-bottom: 2px solid #69B143;
}

form p {
    font-size: 0.9em;
}

label, input, button {
    display: inline;
    margin-bottom: 4px;
}

label {
    padding-left: 0.5em;
    font-size: 16px;
}

div#summer, div#radios, div#prereqs {
    margin: 20px;
    padding: 0.5em;
    border: 2px solid #69B143;
    border-radius: 5px;
    background-color: rgba(245, 245, 245);
}

div.form {
    padding: 0.5em 0;
}

div#prereqs label {
    padding-left: 0;
}

input#submit {
    margin: -10px 20px 20px 20px;
    padding: 0.5em;
    font-size: 1em;
}

div#processContent {
    display: none; /* SET TO BLOCK WHEN WORKING ON STYLE */
}


@media screen and (max-width: 768px) {
    body {
        width: 100%;
        background-color: white;
    }

    div.content {
        padding: 0;
    }

    div.content h1 {
        background-color: #69B143;
        color: white;
        padding: 0.25em;
    }

    div.content p {
        padding: 0.35em;
    }

    div.content hr {
        margin: 0 0.35em;
    }
}

div#schedule, div#takenPrereqs {
    display: flex;
    flex-wrap: wrap;
}

div.remain {
    width: 7em;
    padding: 3px 0;
}

div.quarter {
    width: 10em;
}
