html {
    background-color: antiquewhite;
}

body {
    margin:auto;
    width: 80%;
    max-width: 1200px;
}

form {
    margin: 12px;
    padding-top: 12px;
}

label, input, button {
    display: block;
    margin-bottom: 4px;
}

label {
    font-size: 16px;
}

